<div class="cart-container">

    <div class="cart-container-box">
        <div class="left-container-box">
            <div class="child-box" *ngIf="conta == null">
                <div>
                    <h2>Conta</h2>
                    <span>Para efetuar o seu pedido, faça Login na sua conta ou registe-se já!</span>
                </div>
                <div class="button-container">
                    <div class="button-box">
                        <button mat-raised-button class="default-button success-background" style="width: 150px;"
                        [routerLink]="['/login']">
                            LOG IN
                        </button>
                    </div>
                    <div class="button-box" style="margin-left: 20px;">
                        <button mat-raised-button class="default-button success-outline" style="width: 150px;"
                        [routerLink]="['/signup']" >
                            Registrar
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="conta != null" class="child-box">
                <div>
                    <h2>Endereço de entrega</h2>
                    <span *ngIf="conta.moradas?.length > 1">
                        Escolha onde quer ser entregue
                    </span>
                </div>
                <div  class="address-box-container">
                    <app-addresses (conta)="conta" (fullComponent)="false"></app-addresses>
                </div>
            </div>
            <div class="child-box">
                <div>
                    <h2>Método de pagamento</h2>

                </div>
                <div class="second-view">
                    <div class="body" style="padding: 0;">
                        <div class="list-view">
                            <div class="list-box">
                                <ul>
                                    <li class="item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            account_balance_wallet
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">Wallets</span>
                                    </li>
                                    <li class="item ">

                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            credit_card
                                        </mat-icon>
                                        <span style="margin-left: 10px;" class="text">
                                            Credit/Debit Cards
                                        </span>
                                    </li>
                                    <li class="item active_item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            money
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">Pagar á entrega</span>
                                    </li>
                                    <li class="item">
                                        <mat-icon fontSet="material-icons-outlined" class="icon">
                                            credit_card
                                        </mat-icon>
                                        <span class="text" style="margin-left: 10px;">UPI</span>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="result-view">
                            <div class="result-box">
                                <img class="_2tuBw _12_oN" width="140" height="80" alt=""
                                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_140,h_80/image-pay-by-cash_av6bcw">
                                <div style="margin-top: 30px;display: flex; flex-direction: column;">
                                    <h3 style="font-weight: 400">Pagar á entrega</h3>
                                    <span style="margin-top: 10px; font-weight: 500; opacity: .5;">Os nossos entregadores nao dispõem de troco, tente ter o valor exato</span>
                                    <div class="button-box full-size-button-box">
                                        <button mat-raised-button class="default-button success-background"
                                            style="margin-top: 20px;">
                                            <span>€</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container-box">
            <div class="main-box cart-card" style="padding: 0;">
                <div class="cart-card-header flex-with-space-between padding-horizontaly">
                    <div class="flex-item-center">
                        <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
                        <div class="very-small-gap"></div>
                        <h2>O Seu pedido ({{cart.orders.length}})</h2>
                    </div>
                </div>
                <div class="cart-card-body" style="max-height: 280px !important;">
                    <ul>
                        <li class="flex-with-space-between padding" *ngFor="let item of cart.orders">
                            <div class="flex-item-center">
                                <mat-form-field style="width: 30px; background: transparent;" color="dark">
                                    <mat-select style="text-align: center !important;" [(ngModel)]="item.quantidade"
                                        (selectionChange)=addToCart(item)>
                                        <mat-option *ngFor="let quantityValue of quantityList" [value]="quantityValue"
                                            style="margin-left: 5px !important;">
                                            {{quantityValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="small-gap"></div>
                                <div class="flex-column">
                                    <span> {{item.nome}} </span>
                                </div>
                            </div>
                            <span>{{item.quantidade * item.preco}} €</span>
                        </li>
                    </ul>
                </div>
                <div class="cart-card-footer padding">
                    <button mat-raised-button
                        class="full-width full-height success-background ">
                        <div class="flex-with-space-between">
                            <span>
                                Pagar
                            </span>
                            <span>
                                {{calculateTotalPriceOfCart()}} €
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>