<div class="signup-container">
    <div class="signup-logo">
        <img src="../assets/logo_orig.png" class="fadeIn">
    </div>
    <div class="signup-form">
        <form [formGroup]="signInFormGroup" (ngSubmit)="signUp()">
            <div class="signup-data-column">
                <div style="margin-bottom: 10px;">Criar uma conta com numero de telefone e E-mail</div>
                <mat-form-field appearance="outline" class="input-box full-width" >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" class="input-text full-width" type="text" formControlName="nome">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box full-width" >
                    <mat-label>Apelido</mat-label>
                    <input matInput placeholder="Apelido" class="input-text full-width" type="text" formControlName="apelido">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box full-width">
                    <mat-label>NIF</mat-label>
                    <input matInput placeholder="NIF" class="input-text full-width" type="text" formControlName="nif">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box half-width" >
                    <mat-label>Numero de telefone</mat-label>
                    <input matInput placeholder="Numero de telefone" class="input-text" formControlName="telefone">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box half-width">
                    <mat-label>Endereço E-mail</mat-label>
                    <input matInput placeholder="Endereço E-mail" class="input-text" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box full-width" >
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" class="input-text full-width" type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box full-width" >
                    <mat-label>Repita a password</mat-label>
                    <input matInput placeholder="Repita a password" class="input-text" type="password">
                </mat-form-field>
            </div>
            <div class="signup-data-column">
                <mat-form-field appearance="outline" class="input-box half-width" >
                    <mat-label>Morada</mat-label>
                    <input matInput placeholder="Morada" class="input-text" type="text" formControlName="morada">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box fourth-width" >
                    <mat-label>Código Postal</mat-label>
                    <input matInput placeholder="Código Postal" class="input-text" type="text" formControlName="codigopostal">
                </mat-form-field>
                <mat-form-field appearance="outline" class="input-box fourth-width" >
                    <mat-label>Cidade/Vila</mat-label>
                    <input matInput placeholder="Cidade/Vila" class="input-text" type="text" formControlName="cidade">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" class="full-width full-height accent-background" style="height: 45px;">
                    Criar Conta
                </button>
                <div style="text-align: center; margin-top: 15px;">
                    <span>Já tem uma conta?</span> 
                    <span>
                        <a [routerLink]="['/login']" routerLinkActive="active"> login</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
  
</div>