<div class="login-container">
    <div>
        <div style="width: 100%; text-align: center; margin-bottom: 30px;">
            <img src="../../../assets/logo_orig.png" class="fadeIn">
        </div>
        <h1 style="margin: 40px 0px; width: 100%;">Bem Vindo</h1>
        <span>Entre com o seu numero de télemovel ou endereço e-mail</span>
        <form class="login-input-box" [formGroup]="loginFormgroup" (ngSubmit)="login()">
            <mat-form-field appearance="outline" class="input-box full-width" style="margin-top: 10px;">
                <mat-label>Numero de Télemovel</mat-label>
                <input matInput placeholder="Numero de Télemovel" class="input-text" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-box full-width" style="margin-top: 10px;">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" class="input-text" formControlName="password">
            </mat-form-field>
        </form>
        <button mat-raised-button class="full-width full-height accent-background" style="height: 45px;" (click)= "login()">
            Login
        </button>
        <div style="text-align: center; margin-top: 15px;">
            <span>Novo na Pede agora? </span> <span><a [routerLink]="['/signup']" routerLinkActive="active">Criar uma conta</a></span>
        </div>
    </div>
</div>