<div class="verify-container">
    <div class="model-header">
        <h4>Validar Conta</h4>
    </div>
    <div class="model-body flex-item-center">
        <div class="label">
            <span>Télémovel: {{account.telefone}}</span>
        </div>
        <div *ngIf='clicked' class="padding">
            <span>Um código foi enviado para o seu número.</span>
        </div>
        <div>
            <mat-form-field appearance="outline" class="input-box full-width">
                <mat-label>Código</mat-label>
                <input matInput [value]='code' [formControl]='code'>
                <button mat-button matSuffix mat-stroked-button class="success-background align-center" 
                    cdkFocusInitial (click)="requestCode()"  [disabled]="clicked">
                    <div>{{countdown}}</div>
                </button>
            </mat-form-field>
        </div>
        <div *ngIf='error'>
            <mat-error class="padding">
                {{error}}
            </mat-error>
        </div>
        <div ></div>
        <div>
            <button mat-raised-button class="full-width full-height success-background" 
                cdkFocusInitial  (click)="validate()" >
                <div>
                    Validar
                </div>
            </button>
        </div>
    </div>
</div>