.verify-container{
    min-height: 300px;
    min-width: 200px;
    align-content: center;
    justify-content: center;
    .model-header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .model-body{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;
    }
    .model-footer{
        height: 50px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}
.mat-select-arrow {
    visibility: visible !important;
}