.single-restaurant-container{
    margin-top: 80px;
    background: #fff;
    .restaurant-header-box{
        height: 380px;
        display: flex;
        align-items: center;
       
        .details-box {
            flex: 2;
            height: 300px;
            .contain{
                border-radius: 10%;
                box-shadow: 5px 5px 5px #888888;
                padding: 20px 20px 20px 75px;
                margin-left: 75px;
                margin-right: 65%;
                background: #fff;
                .restaurant-info{
                    margin-top: 15px;
                }
            }
        }
        .img-box{
            background: #fff;
            flex: 0.5;
            height: 100%;
        }
    }
}
.menu-header{
   
    padding: 0px 75px;
    height: 80px;
    position: sticky;
    z-index: 2;
    top: 0px;
    background: #fff;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);

    .tab-group{
        margin-top: 5px;
    }
    .item{
        border-bottom: 2px solid #fff;
        margin-right: 40px;       
        height: 78px;
        display: flex;
        align-items: center;
        cursor: pointer;
      
    }
    .item:hover{
        border-bottom: 2px solid lightslategrey;
    }

      

    .mat-tab-group.mat-primary > .mat-ink-bar{
        background-color: yellow;
        height: 10px;
    }  
    
}
.menu-body{
    padding: 0px 75px;
    margin: 20px 0px;
}

