<div>
    <h1 >Gerir Moradas</h1>
</div>
<div class="address-box-container">
    <div class="address-box-card">
        <div class="address-box-header">
            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
            <h3 style=" margin-left: 10px">Casa</h3>
        </div>
        <div class="address-box-footer">
            <span>Morada de casa para já fixa</span>
        </div>

    </div>
    <div class="address-box-card">
        <div class="address-box-header">
            <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
            <h3 style=" margin-left: 10px">Trabalho</h3>
        </div>
        <div class="address-box-footer">
            <span> Morada para já fixa de trabalho</span>
           
        </div>
    </div>
</div>