<div>
    <h1 >Manage Addresses</h1>
</div>
<div class="address-box-container">
    <div class="address-box-card">
        <div class="address-box-header">
            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
            <h3 style=" margin-left: 10px">Home</h3>
        </div>
        <div class="address-box-footer">
            <span> F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra
                411033, India</span>
        </div>

    </div>
    <div class="address-box-card">
        <div class="address-box-header">
            <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
            <h3 style=" margin-left: 10px">Work</h3>
        </div>
        <div class="address-box-footer">
            <span> F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra
                411033, India</span>
           
        </div>

    </div>
    <div class="address-box-card">
        <div class="address-box-header">
            <mat-icon fontSet="material-icons-outlined">home</mat-icon>
            <h3 style=" margin-left: 10px">Home</h3>
        </div>
        <div class="address-box-footer">
            <span> F 103, 64 Green Meadows, Marunji Rd, Marunji Village, Hinjawadi, Marunji, Maharashtra
                411033, India</span>
        </div>

    </div>
</div>