<div class="container">
    <ng-container *ngIf="!produtos">
        <div class="card-container">
            <skltn-root class="card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
                flareFill="rgba(255,255,255, 0.5)" *ngFor="let item of loader">
                <!-- Card with Avatar -->
                <div class="skltn-card">
                    <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                    <div class="skltn-card__body">
                        <div skltn-bone class="skltn-card__title"></div>
                        <div skltn-bone class="skltn-card__line"></div>
                        <div skltn-bone class="skltn-card__line"></div>
                    </div>
                </div>
            </skltn-root>
        </div>
    </ng-container>

    <ng-container>
        <div class="box-wrapper" *ngFor="let item of produtos">
            <img [src]="item.foto"/>
            <div class="box-content">
                <a class="buy"><span><i class="icon"></i></span></a>
                <div class="title">{{item.nome}}</div>
                <div class="desc">{{item.descricao}}</div>
                <span class="price">{{item.preco}} €</span>
            </div>
        </div>
    </ng-container>


</div>