<div class="myaccount-container">
    <div class="myaccount-container-body second-view">
        <div class="secondary-container-header">
            <div class="header-text">
                <h1 class="primary-text">{{account.nome}}</h1>
                <span class="secondary-text">
                    <span>{{account.telefone}}</span>
                    <span style="margin-left: 20px">{{account.email}}</span>
                </span>
            </div>
            <div class="edit-button-container">
                <div class="edit-button-box">
                    <button mat-raised-button class="edit-button-text" (click)="editPassword()">Modificar Password</button>
                </div>
                <div class="edit-button-box">
                    <button mat-raised-button class="edit-button-text" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="list-view">
                <div class="list-box">
                    <ul>
                        <li class="item" [ngClass]="{'active_item': currentRoute == 'orders'}" (click)="changeChildRoute('orders')" [routerLink]="['/my-account/orders']" routerLinkActive="active">
                            <span class="text flex-item-center">
                                <span style="transform: translateY(2px);">
                                    <mat-icon fontSet="material-icons-outlined" class="icon">
                                        all_out
                                    </mat-icon>
                                </span>
                                <span style="margin-left: 10px;">
                                    Pedidos
                                </span>
                            </span>
                        </li>
                        <li class="item" [ngClass]="{'active_item': currentRoute == 'favourites'}" (click)="changeChildRoute('favourites')"  [routerLink]="['/my-account/favourites']" routerLinkActive="active" disabled>
                            <span class="text flex-item-center">
                                <span style="transform: translateY(2px);">
                                    <mat-icon fontSet="material-icons-outlined" class="icon">
                                        favorite_border
                                    </mat-icon>
                                </span>
                                <span style="margin-left: 10px;">
                                    Favoritos
                                </span>
                            </span>
                        </li>
                        <li class="item" [ngClass]="{'active_item': currentRoute == 'payments'} " (click)="changeChildRoute('payments')"  [routerLink]="['/my-account/payments']" routerLinkActive="active">
                            <span class="text flex-item-center">
                                <span style="transform: translateY(2px);">
                                    <mat-icon fontSet="material-icons-outlined" class="icon">
                                        payment
                                    </mat-icon>
                                </span>
                                <span style="margin-left: 10px;">
                                    Métodos de pagamento
                                </span>
                            </span>
                        </li>
                        <li class="item" [ngClass]="{'active_item': currentRoute == 'addresses'}" (click)="changeChildRoute('addresses')" [routerLink]="['/my-account/addresses']" routerLinkActive="active">
                            <span class="text flex-item-center">
                                <span style="transform: translateY(2px);">
                                    <mat-icon fontSet="material-icons-outlined" class="icon">
                                        near_me
                                    </mat-icon>
                                </span>
                                <span style="margin-left: 10px;">
                                    Moradas
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="result-view">
                <div class="result-box">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>