
.myaccount-container{
    margin-top: 80px;
    width: 100%;
}

.myaccount-container-body{
    padding: 0 20px;
}

.edit-button-container{
    display: flex;
    .edit-button-box {
        margin: 20px 2px;
        color: #fff;
        border: 1px solid #fff;
        margin-left: 2px;
        margin-right: 2px;
        
        .edit-button-text{
            border-radius: 0; 
            background: transparent;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }

        .edit-button-text:hover{
            background: #fff;
            color: #d4a300;
        }
    }
}


    

