<div class="home-container">
    <ng-container *ngIf="restaurantes.length < 1">
        <div class="card-container">
            <skltn-root class="card" duration="1000" [rectRadius]="10" flareWidth="50%" bgFill="#d8d5d1"
                flareFill="rgba(255,255,255, 0.5)" *ngFor="let item of loaderRestaurant">
                <!-- Card with Avatar -->
                <div class="skltn-card">
                    <div skltn-bone class="skltn-card__avatar" type="circle"></div>
                    <div class="skltn-card__body">
                        <div skltn-bone class="skltn-card__title"></div>
                        <div skltn-bone class="skltn-card__line"></div>
                        <div skltn-bone class="skltn-card__line"></div>
                    </div>
                </div>
            </skltn-root>
        </div>
    </ng-container>
    <ng-container *ngFor="let tag of tags">
        <div style="margin: 20px 0px 0px 10px;">
            <span style="font-size: 26px; font-weight: 600;">{{tag}}</span>
        </div>
        <div class="card-container">
            <ng-container *ngFor="let restaurante of restaurantes">
                <div  class="card" *ngIf="hasTag(restaurante, tag)" (click)="goToRestaurant(10)">
                    <div class="img-box">
                        <img src="../{{restaurante.logo}}"  class="img-box" data-selected="true" data-label-id="0">
                    </div>
                    <div class="details-box">
                        <div>
                            <span style="font-weight: 600;">{{restaurante.nome}}</span>
                        </div>
                        <div style="margin-top: 5px;">
                            <label>€</label>
                            &bull;
                            <label *ngFor="let type of restaurante.tags; let i = index">{{type}}<span
                                    style="margin: 0px 5px;"
                                    *ngIf="i < restaurante.tags.length - 1">&bull;</span></label>
                        </div>
                        <div style="margin-top: 5px;">
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip>{{restaurante.timing}}</mat-chip>
                                <mat-chip>
                                    {{restaurante.stars}} <img
                                        src="">
                                    {{restaurante.totalReviews}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>