<div class="footer">
        <div class="container">
            <div class="first">
                    <img src="../assets/logo_orig (1).png">
            </div>
            <div class="second">
                <h4>Ajuda</h4>
                <ul class="list" style="line-height: 2.5;">
                    <li>Informaçoes de entregas</li>
                    <li>Devoluções e Trocas</li>
                    <li>Termos e condições</li>
                    <li>Política de Privacidade</li>
                </ul>
            </div>
            <div class="third">
                <h4>Tem Perguntas ?</h4>
                <p>Endereço completamente falso so pra testar</p>
                <p>+351 123 456 789</p>
                <p>geral@pedeagora.com</p>
            </div>
        </div>
        <div class="copyright">
            <p>Coisas sobre copyright vao pra aqui</p>
        </div>
    </div>