<div class="add-item-model-container">
  <div class="model-header">
    <div class="flex-item-center">
      <img *ngIf="produto.type === 'veg'"
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/511904b5d7cd6881bc88882d4089e3bb.svg" width="12px" height="12px">
      <img *ngIf="produto.type === 'nonveg'"
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/d049360b6709dd54ea5ff0689849db7a.svg" width="12px" height="12px">
      <div class="very-small-gap"></div>
      <h1>{{produto.nome}}</h1>
    </div>
    <button mat-mini-fab color="default" (click)="onNoClick()">
      <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">close</mat-icon>
    </button>
  </div>
  <div class="model-body">
    <div *ngIf="produto.tamanhos.length > 0; else grupos">
      <div class="instruction">
        <span style="padding: 0px 20px;">*Tamanhos:</span>
        <div>
          <mat-radio-group (change)="onChange($event)" name="tamanhos" [required]="true">
              <mat-radio-button  *ngFor="let tamanho of produto.tamanhos" [name]="tamanho.nome" style="padding: 0px 20px;" [checked]="false" [value]="parseTamanho(tamanho)">{{tamanho.nome}}<mat-label>(+{{tamanho.preco}}€)</mat-label></mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="subOptions">
        <div class="options" *ngFor="let extra of extra.grupos">
          <ng-container *ngIf="extra.force_min > 0; else checkExtra">
            <span style="padding: 15px 20px;">*{{extra.nome}}</span>
            <div>
              <mat-radio-group (change)="onChangeExtra($event)" [name]="extra.nome">
                  <mat-radio-button  *ngFor="let opcao of extra.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}<mat-label>(+{{opcao.preco}}€)</mat-label></mat-radio-button>
              </mat-radio-group>
            </div>
          </ng-container>
          <ng-template #checkExtra>
            <span style="padding: 15px 20px;">{{extra.nome}}</span>
            <div>
              <mat-checkbox (change)="onChangeCheckBox($event)" *ngFor="let opcao of extra.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}<mat-label>(+{{opcao.preco}}€)</mat-label></mat-checkbox>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <ng-template *ngFor="let grupo of grupos" #grupos>
      <div *ngIf="grupo.required;" class="instruction">
        <span style="padding: 0px 20px;">*{{grupo.nome}}:</span>
        <mat-radio-group (changeRadio)="onChange($event)" [name]="grupo.nome" [required]="true">
            <mat-radio-button  *ngFor="let opcao of grupo.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="!grupo.required;" class="instruction">
        <span style="padding: 0px 20px;">{{grupo.nome}}:</span>
        <mat-checkbox (changeRadio)="onChange($event)"  *ngFor="let opcao of grupo.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}<mat-label>(+{{opcao.preco}}€)</mat-label></mat-checkbox>
      </div>
    </ng-template>
    <div *ngIf="produto.grupos.length > 0">
      <ng-container *ngFor="let grupo of produto.grupos">
      <div class="instruction">
        <div *ngIf="grupo.force_min > 0 && grupo.nome != 'Extras'; else checkExtraProduto">
          <span style="padding: 0px 20px;">*{{grupo.nome}}</span>
          <div>
            <mat-radio-group (change)="onChange($event)" [name]="grupo.nome">
                <mat-radio-button  *ngFor="let opcao of grupo.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}<mat-label>(+{{opcao.preco}}€)</mat-label></mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <ng-template #checkExtraProduto>
          <span style="padding: 0px 20px;">{{grupo.nome}}</span>
          <div>
            <mat-checkbox (change)="onChangeCheckBox($event)" *ngFor="let opcao of grupo.opcoes" [name]="opcao.nome" style="padding: 0px 20px;" [checked]="false" [value]="opcao">{{opcao.nome}}<mat-label>(+{{opcao.preco}}€)</mat-label></mat-checkbox>
          </div>
        </ng-template>
      </div>
    </ng-container>
    </div>
    <div class="instruction">
      <h3 style="padding: 0px 20px;">Instruções extra</h3>
    </div>
    <div style="margin-top: 20px; padding: 0px 20px;">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Deixe informaçoes para o entregador/restaurante"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="model-footer flex-item-center">
    <div class="flex-item-center">
      <button mat-mini-fab style="margin-right: 10px;" color="default" [disabled]="itemCount < 2" (click)="remove()">
        <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">remove</mat-icon>
      </button>
      <span>{{itemCount}}</span>
      <button mat-mini-fab style="margin-left: 10px;" color="default" (click)="add()">
        <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">add</mat-icon>
      </button>
    </div>
    <div class="small-gap"></div>
    <button mat-raised-button class="full-width full-height success-background" (click)="addToCart()"
      [mat-dialog-close]="produto" cdkFocusInitial id="addCartButton" [disabled]="isDisabled">
      <div>
        Adicionar {{itemCount}} ao pedido
        <span style="float: right;">{{(itemCount * produto.preco + itemCount * extra.preco + optionPrice + extraPrice).toFixed(2)}} €</span>
      </div>
    </button>
  </div>
</div>