<div class="add-item-model-container">
  <div class="model-header">
    <div class="flex-item-center">

      <img *ngIf="data.type === 'veg'"
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/511904b5d7cd6881bc88882d4089e3bb.svg" width="12px"
        height="12px">
      <img *ngIf="data.type === 'nonveg'"
        src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/d049360b6709dd54ea5ff0689849db7a.svg" width="12px"
        height="12px">
      <div class="very-small-gap"></div>
      <h1>{{data.name}}</h1>
    </div>
    <button mat-mini-fab color="default" (click)="onNoClick()">
      <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">close</mat-icon>
    </button>
  </div>
  <div class="model-body">
    <div class="instruction">
      <h3 style="padding: 0px 20px;">Special instructions</h3>
    </div>
    <div style="margin-top: 20px; padding: 0px 20px;">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Leave a note for a kitchen"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="model-footer flex-item-center">
    <div class="flex-item-center">
      <button mat-mini-fab style="margin-right: 10px;" color="default" [disabled]="itemCount < 2" (click)="remove()">
        <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">remove</mat-icon>
      </button>
      <span>{{itemCount}}</span>
      <button mat-mini-fab style="margin-left: 10px;" color="default" (click)="add()">
        <mat-icon fontSet="material-icons-outlined" mat-icon-button class="icon">add</mat-icon>
      </button>
    </div>
    <div class="small-gap"></div>
    <button mat-raised-button class="full-width full-height success-background" (click)="addToCart()"
      [mat-dialog-close]="data" cdkFocusInitial>
      <div>
        Add {{itemCount}} to order
        <span style="float: right;">₹ {{itemCount * data.price}}</span>
      </div>
    </button>
  </div>
</div>